lara-whatsapp-uazapi-single-webhook.json
{
  "name": "Lara WhatsApp Uazapi Single Webhook (n8n Cloud 2.13.3)",
  "nodes": [
    {
      "id": "ua1",
      "name": "Uazapi Callback Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -980,
        300
      ],
      "webhookId": "lara-uazapi-callback-v2133",
      "parameters": {
        "path": "lara-uazapi-callback",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "ua2",
      "name": "Normalize Uazapi Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function pick(obj, paths) {\n  for (const p of paths) {\n    const parts = p.split('.');\n    let cur = obj;\n    let ok = true;\n    for (const part of parts) {\n      if (!cur || typeof cur !== 'object' || !(part in cur)) {\n        ok = false;\n        break;\n      }\n      cur = cur[part];\n    }\n    if (ok && cur !== undefined && cur !== null && String(cur).trim() !== '') return cur;\n  }\n  return '';\n}\n\nfunction toDigits(v) {\n  return String(v || '').replace(/\\D+/g, '');\n}\n\nfunction detectText(obj) {\n  const text = pick(obj, [\n    'text', 'body', 'message', 'caption', 'data.text', 'data.body', 'data.message', 'data.caption', 'content.text', 'content.body', 'msg'\n  ]);\n  return String(text || '').trim();\n}\n\nconst input = $input.first()?.json || {};\nconst query = (input.query && typeof input.query === 'object') ? input.query : {};\nconst eventHint = String(query.event || query.type || input.event || input.type || input.topic || input?.data?.event || input?.data?.type || '').toLowerCase();\nconst tenantId = String(input.tenant_id || $env.LARA_TENANT_ID || 'default').trim() || 'default';\nconst out = [];\n\nconst messageCandidates = [];\nif (Array.isArray(input.messages)) messageCandidates.push(...input.messages);\nif (Array.isArray(input.data?.messages)) messageCandidates.push(...input.data.messages);\nif (Array.isArray(input.data?.data?.messages)) messageCandidates.push(...input.data.data.messages);\nif (Array.isArray(input.payload?.messages)) messageCandidates.push(...input.payload.messages);\nif (input.message && typeof input.message === 'object') messageCandidates.push(input.message);\nif (input.data && typeof input.data === 'object' && !Array.isArray(input.data) && detectText(input.data)) messageCandidates.push(input.data);\nif (detectText(input) && messageCandidates.length === 0) messageCandidates.push(input);\n\nconst statusCandidates = [];\nif (Array.isArray(input.messages_update)) statusCandidates.push(...input.messages_update);\nif (Array.isArray(input.statuses)) statusCandidates.push(...input.statuses);\nif (Array.isArray(input.data?.messages_update)) statusCandidates.push(...input.data.messages_update);\nif (Array.isArray(input.data?.statuses)) statusCandidates.push(...input.data.statuses);\nif (Array.isArray(input.data?.updates)) statusCandidates.push(...input.data.updates);\nif (Array.isArray(input.payload?.messages_update)) statusCandidates.push(...input.payload.messages_update);\nif (Array.isArray(input.payload?.statuses)) statusCandidates.push(...input.payload.statuses);\nif (input.update && typeof input.update === 'object') statusCandidates.push(input.update);\n\nconst looksLikeStatus = eventHint.includes('update') || eventHint.includes('status');\nconst looksLikeMessage = eventHint.includes('message') || eventHint.includes('msg');\n\nfor (const msg of messageCandidates) {\n  const waDigits = toDigits(pick(msg, ['from','number','phone','sender','author','chatId','remoteJid','data.from','data.number','data.phone']));\n  const text = detectText(msg);\n  if (!waDigits || !text) continue;\n\n  const id = String(pick(msg, ['id','messageId','key.id']) || (waDigits + '-' + Date.now())).trim();\n  const tsRaw = pick(msg, ['timestamp','ts','time','data.timestamp']);\n  const tsNumber = Number(tsRaw);\n  const receivedAt = Number.isFinite(tsNumber) && tsNumber > 0 ? new Date(tsNumber * 1000).toISOString() : new Date().toISOString();\n\n  out.push({\n    json: {\n      event_type: 'inbound',\n      event_id: id,\n      wa_id: waDigits,\n      telefone: waDigits,\n      message_text: text,\n      tenant_id: tenantId,\n      jurisdicao: 'BR',\n      canal: 'WHATSAPP',\n      received_at: receivedAt,\n      payload: { provider: 'uazapi', event_hint: eventHint, raw_message: msg, raw_payload: input },\n    },\n  });\n}\n\nfor (const st of statusCandidates) {\n  const messageId = String(pick(st, ['id','messageId','key.id']) || '').trim();\n  const waDigits = toDigits(pick(st, ['to','to_number','recipient','from','number','phone','remoteJid']));\n  const status = String(pick(st, ['status','state','event']) || '').trim();\n  if (!messageId || !status) continue;\n\n  const tsRaw = pick(st, ['timestamp','ts','time']);\n  const tsNumber = Number(tsRaw);\n  const timestamp = Number.isFinite(tsNumber) && tsNumber > 0 ? new Date(tsNumber * 1000).toISOString() : new Date().toISOString();\n\n  out.push({\n    json: {\n      event_type: 'status',\n      event_id: messageId + ':' + status + ':' + timestamp,\n      message_id: messageId,\n      wa_id: waDigits,\n      status,\n      timestamp,\n      tenant_id: tenantId,\n      payload: { provider: 'uazapi', event_hint: eventHint, raw_status: st, raw_payload: input },\n    },\n  });\n}\n\nif (out.length === 0 && looksLikeMessage && detectText(input)) {\n  const waDigits = toDigits(pick(input, ['from','number','phone','sender','author','chatId','remoteJid']));\n  const text = detectText(input);\n  if (waDigits && text) {\n    out.push({\n      json: {\n        event_type: 'inbound',\n        event_id: String(pick(input, ['id','messageId']) || (waDigits + '-' + Date.now())),\n        wa_id: waDigits,\n        telefone: waDigits,\n        message_text: text,\n        tenant_id: tenantId,\n        jurisdicao: 'BR',\n        canal: 'WHATSAPP',\n        received_at: new Date().toISOString(),\n        payload: { provider: 'uazapi', event_hint: eventHint, raw_payload: input },\n      },\n    });\n  }\n}\n\nif (out.length === 0 && looksLikeStatus) {\n  const messageId = String(pick(input, ['id','messageId']) || '').trim();\n  const status = String(pick(input, ['status','state','event']) || '').trim();\n  if (messageId && status) {\n    out.push({\n      json: {\n        event_type: 'status',\n        event_id: messageId + ':' + status + ':' + new Date().toISOString(),\n        message_id: messageId,\n        wa_id: toDigits(pick(input, ['to','to_number','recipient','from','number','phone'])),\n        status,\n        timestamp: new Date().toISOString(),\n        tenant_id: tenantId,\n        payload: { provider: 'uazapi', event_hint: eventHint, raw_payload: input },\n      },\n    });\n  }\n}\n\nreturn out;"
      }
    },
    {
      "id": "ua3",
      "name": "Is Inbound Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        220
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ua3-1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.event_type}}",
              "rightValue": "inbound"
            }
          ]
        }
      }
    },
    {
      "id": "ua4",
      "name": "Call Lara Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.LARA_BASE_URL}}/api/lara/webhooks/whatsapp-inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY}}"
            },
            {
              "name": "x-lara-tenant-id",
              "value": "={{$json.tenant_id || $env.LARA_TENANT_ID || \"default\"}}"
            },
            {
              "name": "x-request-id",
              "value": "={{$json.event_id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ event_id: $json.event_id, wa_id: $json.wa_id, telefone: $json.telefone, message_text: $json.message_text, tenant_id: $json.tenant_id || $env.LARA_TENANT_ID || \"default\", jurisdicao: $json.jurisdicao || \"BR\", canal: $json.canal || \"WHATSAPP\", received_at: $json.received_at, payload: $json.payload || {} }) }}",
        "options": {}
      }
    },
    {
      "id": "ua5",
      "name": "Merge Lara + Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        40,
        260
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      }
    },
    {
      "id": "ua6",
      "name": "Build Uazapi Outbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const d = item.json || {};\n  if (String(d.status || '').toLowerCase() !== 'ok') continue;\n\n  const number = String(d.wa_id || '').replace(/\\D+/g, '').trim();\n  const text = String(d.mensagem || '').trim();\n  if (!number || !text) continue;\n\n  output.push({\n    json: {\n      number,\n      text,\n      linkPreview: false,\n      replyid: '',\n      mentions: '',\n      readchat: true,\n      delay: 0,\n      lara_acao: String(d.acao || ''),\n      lara_status: String(d.status || ''),\n      codcli: d.codcli || '',\n      cliente: d.cliente || '',\n    },\n  });\n}\nreturn output;"
      }
    },
    {
      "id": "ua7",
      "name": "Send Text via Uazapi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{($env.UAZAPI_BASE_URL || \"https://api.uazapi.com\").replace(/\\/+$/, \"\") + \"/send/text\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{$env.UAZAPI_INSTANCE_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "convert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $json.number, text: $json.text, linkPreview: false, replyid: \"\", mentions: \"\", readchat: true, delay: 0 }) }}",
        "options": {}
      }
    },
    {
      "id": "ua8",
      "name": "Is Status Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        420
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ua8-1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{$json.event_type}}",
              "rightValue": "status"
            }
          ]
        }
      }
    },
    {
      "id": "ua9",
      "name": "Call Lara Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.LARA_BASE_URL}}/api/lara/webhooks/whatsapp-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY}}"
            },
            {
              "name": "x-lara-tenant-id",
              "value": "={{$json.tenant_id || $env.LARA_TENANT_ID || \"default\"}}"
            },
            {
              "name": "x-request-id",
              "value": "={{$json.event_id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ event_id: $json.event_id, message_id: $json.message_id, wa_id: $json.wa_id, status: $json.status, timestamp: $json.timestamp, payload: $json.payload || {} }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Uazapi Callback Webhook (POST)": {
      "main": [
        [
          {
            "node": "Normalize Uazapi Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Uazapi Callback": {
      "main": [
        [
          {
            "node": "Is Inbound Message?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Status Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Inbound Message?": {
      "main": [
        [
          {
            "node": "Call Lara Inbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Lara + Context",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Lara Inbound": {
      "main": [
        [
          {
            "node": "Merge Lara + Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lara + Context": {
      "main": [
        [
          {
            "node": "Build Uazapi Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Uazapi Outbound": {
      "main": [
        [
          {
            "node": "Send Text via Uazapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status Event?": {
      "main": [
        [
          {
            "node": "Call Lara Status",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}