docs/n8n/whatsapp-to-lara-system-message-orchestration-ok-hardened.json
{
  "name": "WhatsApp to Lara System Message Orchestration ok (Hardened Local)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "2362cbf5-1829-41ae-a374-2d71312e37cd",
      "name": "Recebe Mensagem WhatsApp",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1728,
        1792
      ],
      "webhookId": "c2d0d7c4-e271-42b6-8860-c1b9df6dae34",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fdGfQceUwLMKpM6f",
          "name": "WhatsApp 5509"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $json.id || $json.message?.id || $json.messages?.[0]?.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "phone",
              "value": "={{ $json.from || $json.contacts?.[0]?.wa_id || $json.phone || \"\" }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "message",
              "value": "={{ $json.message?.text || $json.messages?.[0]?.text?.body || $json.text?.body || $json.body || \"\" }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $json.timestamp || $json.messages?.[0]?.timestamp || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "messageId",
              "value": "={{ $json.id || $json.message?.id || $json.messages?.[0]?.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "tenant_id",
              "value": "default",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "event_id",
              "value": "={{ $json.id || $json.message?.id || $json.messages?.[0]?.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "phoneNumberId",
              "value": "={{ $json.metadata?.phone_number_id || $json.phone_number_id || $json.phoneNumberId || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc200727-0703-4870-b64e-746613d3fc9c",
      "name": "Prepara Payload para Lara",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1792
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.LARA_BASE_URL || \"http://localhost:3333\") + \"/api/lara/orquestracao/mensagens\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-lara-tenant-id",
              "value": "={{$env.LARA_TENANT_ID || \"default\"}}"
            },
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY || \"\"}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"conversationId\": $json.conversationId, \"messageId\": $json.messageId, \"phone\": $json.phone, \"message\": $json.message, \"timestamp\": $json.timestamp, \"tenant_id\": $json.tenant_id, \"event_id\": $json.event_id, \"canal\": \"WHATSAPP\", \"jurisdicao\": \"BR\", \"payload\": { \"provider\": \"whatsapp\", \"raw\": $json } } }}",
        "options": {}
      },
      "id": "e3cd9251-872b-49d0-ac30-05c0f5757ff4",
      "name": "Envia para Sistema Lara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1280,
        1792
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "id": "49bb88b0-71d6-4b5a-8165-b01a27aebb5f",
      "name": "Controle de Polling",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        1920
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "7cf84ff6-6347-493c-adbc-a1f421b1f776",
      "name": "Aguardar Processamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        1888
      ],
      "webhookId": "f30da083-db54-420a-b28b-4095d575adf5"
    },
    {
      "parameters": {
        "url": "={{($env.LARA_BASE_URL || \"http://localhost:3333\") + \"/api/lara/orquestracao/respostas\"}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "protocolId",
              "value": "={{ $json.protocolId || \"\" }}"
            },
            {
              "name": "conversationId",
              "value": "={{ $json.conversationId || \"\" }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-lara-tenant-id",
              "value": "={{$env.LARA_TENANT_ID || \"default\"}}"
            },
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "8825b3e8-0d13-4ad1-b86b-3cc9dce81929",
      "name": "Buscar Resposta Lara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        1888
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e1340756-28c1-471b-8d6c-94cd60a04235"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e3fe887-ec91-469c-b2c0-158f2b3c3705"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5d7ddd0-bad2-4204-ac65-cce86ef33da9"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "994e282c-10b3-4efc-871d-bab366d4a708",
      "name": "Verificar Status Resposta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        2048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "to",
              "value": "={{ $(\"Prepara Payload para Lara\").item.json.phone }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "={{ $json.response || $json.laraResponse?.mensagem || \"No momento nao consegui concluir sua solicitacao. Vou encaminhar para atendimento especializado.\" }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "888192cc-7b2c-4c5c-ac10-773a6113a400",
      "name": "Prepara Mensagem WhatsApp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1968
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $(\"Prepara Payload para Lara\").item.json.phoneNumberId || \"\" }}",
        "recipientPhoneNumber": "={{ $json.to }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "6194993c-a443-412c-8aab-d1c504c88e9c",
      "name": "Envia Resposta WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        64,
        1968
      ],
      "webhookId": "e1d47d09-266c-4541-a2e0-2313d426e42b",
      "credentials": {
        "whatsAppApi": {
          "id": "UR0ELskkD4OrhkPf",
          "name": "5509"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorType",
              "value": "lara_processing_error",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "={{ $json.errorMessage || 'Erro no processamento' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e6220244-594b-41d0-a3af-95ba3d775424",
      "name": "Log Erro Lara",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        2160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorType",
              "value": "timeout",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "Timeout aguardando resposta do Sistema Lara",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "attempts",
              "value": "={{ $('Controle de Polling').item.json.batchIndex }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "phone",
              "value": "={{ $('Prepara Payload para Lara').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f508c2f8-c53b-4b3c-9ef9-c005a3389e33",
      "name": "Log Timeout",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1504
      ],
      "disabled": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $(\"Prepara Payload para Lara\").item.json.phoneNumberId || \"\" }}",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "Sua solicitacao esta demorando mais que o esperado. Estamos processando e retornaremos em breve.",
        "additionalFields": {}
      },
      "id": "e68b3829-808a-45c3-a6d5-8b7660c3f2cb",
      "name": "Notifica Timeout Cliente",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -560,
        1520
      ],
      "webhookId": "58eaced1-21ed-472c-89ba-ee6911b9cf46",
      "credentials": {
        "whatsAppApi": {
          "id": "UR0ELskkD4OrhkPf",
          "name": "5509"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorType",
              "value": "lara_send_error",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || $json.errorMessage || $json.message || ($json.error ? JSON.stringify($json.error) : 'Erro de integracao') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "87b4c42a-5300-4922-9c3d-46195cd30324",
      "name": "Log Erro Envio Lara",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        1696
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorType",
              "value": "lara_query_error",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || $json.errorMessage || $json.message || ($json.error ? JSON.stringify($json.error) : 'Erro de integracao') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a341b316-12ce-4f6d-9dff-6be7d416b8f9",
      "name": "Log Erro Consulta Lara",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "conversationId",
              "value": "={{ $('Prepara Payload para Lara').item.json.conversationId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "errorType",
              "value": "whatsapp_send_error",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "={{ $json.error?.message || $json.errorMessage || $json.message || ($json.error ? JSON.stringify($json.error) : 'Erro de integracao') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "25af9444-3c89-4222-a1eb-afe33b091077",
      "name": "Log Erro Envio WhatsApp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1984
      ]
    },
    {
      "parameters": {
        "path": "bradesco-pix-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8fa25d8-caf2-461a-9dee-3a1ef3f6754b",
      "name": "Webhook Bradesco PIX",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1728,
        2608
      ],
      "webhookId": "cddedb52-dc67-4cb4-b731-44637df671f0"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst headers = $json.headers || {};\nconst txid = body.txid || body.pix?.[0]?.txid || null;\nconst endToEndId = body.endToEndId || body.pix?.[0]?.endToEndId || body.e2eId || null;\nconst webhookSecret = headers['x-webhook-secret'] || headers['X-Webhook-Secret'] || null;\nreturn [{ json: { provider: 'bradesco_pix', txid, endToEndId, webhook_secret: webhookSecret, raw_payload: body, received_at: new Date().toISOString() } }];"
      },
      "id": "40d6cd26-dfef-4feb-8711-cc2d17710051",
      "name": "Normalizar Payload PIX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "secret_guard_disabled",
              "leftValue": "={{ Boolean($json.webhook_secret) && $json.webhook_secret === ($env.BRADESCO_PIX_WEBHOOK_SECRET || \"\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5190361b-c4eb-4aab-9589-f45269e6de46",
      "name": "Validar Segredo Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        2608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "txid_required",
              "leftValue": "={{ Boolean($json.txid) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75271cb2-a7ad-4b1d-a785-375807250117",
      "name": "Payload Possui TXID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        2608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.LARA_BASE_URL || \"http://localhost:3333\") + \"/api/lara/bradesco/pix/webhook\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY || \"\"}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.raw_payload}}",
        "options": {}
      },
      "id": "f5f4bcfa-1b22-4a62-9135-f07e5ca0a3da",
      "name": "Enviar Webhook para Lara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        2528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "lara_ok",
              "leftValue": "={{$json.status}}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "lara_duplicate",
              "leftValue": "={{$json.status}}",
              "rightValue": "duplicate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4ed36640-85cb-41c6-862b-1adb5b6fdc6f",
      "name": "Lara Processou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        2528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.LARA_BASE_URL || \"http://localhost:3333\") + \"/api/lara/bradesco/pix/reconciliar\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-lara-api-key",
              "value": "={{$env.LARA_API_KEY || \"\"}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { txid: $items('Normalizar Payload PIX',0,0)[0].json.txid } }}",
        "options": {}
      },
      "id": "eaff18e3-1aad-4133-9cc4-270125564050",
      "name": "Reconciliar TXID na Lara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        2688
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: $json.status || 'ok', txid: $json.txid || $items('Normalizar Payload PIX',0,0)[0].json.txid, chargeId: $json.chargeId || '' } }}",
        "options": {}
      },
      "id": "3f8015e9-e6ee-4779-bc5e-1edb0f191055",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -288,
        2400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: ['settled','paid','ok'].includes(String($json.status || '').toLowerCase()), status: $json.status || 'reconciled', txid: $json.txid || $items('Normalizar Payload PIX',0,0)[0].json.txid, chargeId: $json.chargeId || '', details: $json } }}",
        "options": {}
      },
      "id": "67e088fd-e579-4fff-afd8-a8d41075ae99",
      "name": "Responder Reconciliacao",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -48,
        2688
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, status: 'invalid_payload', message: 'txid ausente no webhook recebido' } }}",
        "options": {}
      },
      "id": "05c27b88-c575-4db8-bb05-8a015a92c46c",
      "name": "Responder Payload Invalido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -768,
        2784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, status: 'unauthorized_webhook' } }}",
        "options": {}
      },
      "id": "711dcd71-2eb8-46cb-ba9f-3840a2591ca0",
      "name": "Responder Nao Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1008,
        2896
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Recebe Mensagem WhatsApp": {
      "main": [
        [
          {
            "node": "Prepara Payload para Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Payload para Lara": {
      "main": [
        [
          {
            "node": "Envia para Sistema Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia para Sistema Lara": {
      "main": [
        [
          {
            "node": "Controle de Polling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Envio Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controle de Polling": {
      "main": [
        [
          {
            "node": "Aguardar Processamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardar Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Processamento": {
      "main": [
        [
          {
            "node": "Buscar Resposta Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Resposta Lara": {
      "main": [
        [
          {
            "node": "Verificar Status Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Consulta Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Status Resposta": {
      "main": [
        [
          {
            "node": "Controle de Polling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepara Mensagem WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Erro Lara",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Mensagem WhatsApp": {
      "main": [
        [
          {
            "node": "Envia Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Timeout": {
      "main": [
        [
          {
            "node": "Notifica Timeout Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Resposta WhatsApp": {
      "main": [
        [],
        [
          {
            "node": "Log Erro Envio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Bradesco PIX": {
      "main": [
        [
          {
            "node": "Normalizar Payload PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload PIX": {
      "main": [
        [
          {
            "node": "Validar Segredo Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Segredo Webhook": {
      "main": [
        [
          {
            "node": "Payload Possui TXID?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Nao Autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Possui TXID?": {
      "main": [
        [
          {
            "node": "Enviar Webhook para Lara",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Payload Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Webhook para Lara": {
      "main": [
        [
          {
            "node": "Lara Processou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lara Processou?": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reconciliar TXID na Lara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconciliar TXID na Lara": {
      "main": [
        [
          {
            "node": "Responder Reconciliacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "77f10e36-170d-4e96-90eb-0cf8950b1f73",
  "meta": {
    "instanceId": "af80483beefe5f6ec3c06b6f157847e2b8f0b2e141a40bff0a746eb4988ae713",
    "hardened_by_codex": true,
    "hardened_at": "2026-04-27T00:27:00.350Z"
  },
  "id": "YK8ACI4TtWRKIWLB",
  "tags": [
    "lara",
    "whatsapp",
    "pix",
    "hardened"
  ]
}
